
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paarijaatham</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Paarijaatham</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" ><a href="/home/">Home</a></li>
      <li><a href="/upload/">Manage</a></li>
      <li><a href="/admin/">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="{% url 'exit_page'%}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
    </ul>
  </div>
</nav>


<h3> Welcome {{user}} </h3>

{% if Error == 'Auth' %}
    <p align='middle' class="bg-danger">you do not have Authentication to Upload</p>
  {% endif %}



<form action="/home/" method ="post">
  {% csrf_token %}
    
  <p align='middle'>  
  {{ form }}
    
  <p align='middle'>  
<input type="submit" ,value="Find"> 

  {% if Error %}
    <p align='middle'>Error : {{Error}}</p>
  {% endif %}
 </p>
  </p>             
</form>  

</body>
</html>
