

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paarijaatham</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% load static %}
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Paarijaatham</a>
    </div>
    <ul class="nav navbar-nav">
      <li  ><a href="/home">Home</a></li>
      <li class="active"><a href="/upload">Manage</a></li>
      <li><a href="/admin/">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="{% url 'exit_page'%}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<h3> Welcome {{user}} </h3>
<form action="" method ="post" enctype="multipart/form-data">
  {% csrf_token %}
   {% if Error %}
    <p> Error : {{Error}}</p>
  {% endif %} 
      
  {% if stat == "Success" %}
    <p> File Uploaded Sucessfully</p>
  {% endif %}
      
  {% if Header_error == "Header" %}
    <p> Error : Header is Invalid</p>
  {% endif %}   
      
     <p align='middle'>  <h5><a  href="{%static 'Bulk_uplaod_Template.csv' %}"> Downlaod Template</a></h5></p>
  <p align='middle'>      
  {{ form }}
      
      
  </p>  
  
      
      
   
      
 <br>   
 <p align='middle'>     
<input type="submit" ,value="Find">  </p>  
</form>  
<p align='center'>
  
</p>
</body>
</html>
